html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#content {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.test {
  background-color: red;
  width: 100%;
  height: 100%;
}

#content {
  font-size: 2em;
}

#content-body {
  flex-grow: 1;
}

#save-btn {
  right: 0;
  float: right;
  margin: 5px;
}

.footer {
  width: 100%;
}

.title-bar-text {
  font-size: 2em;
}